body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #eee;
}

@font-face {
	font-family: League-Gothic;
	src: url("League-Gothic.otf") format("opentype");
}


#boardgame {
	padding: 100px; background: #eee;
}

#boardgame h1 {
	text-align: center;
	margin: 200px auto;
	font-family: "League-Gothic", Courier;
	font-size: 200px; text-transform: uppercase;
	color: #fff;
	text-shadow: 10px 10px 0 #ffd217, 20px 20px 0 #5ac7ff, 30px 30px 0 #ffd217, 40px 40px 0 #5ac7ff;

}


