body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #eee;
}

@font-face {
	font-family: League-Gothic;
	src: url("League-Gothic.otf") format("opentype");
}


#vintage h1 {
	text-align: center;
	margin: 200px auto;
	font-family: "League-Gothic", Courier;
	font-size: 200px; text-transform: uppercase;
	color: #707070;
	text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070;
}

